.tab-option:first-child {
  margin-left: -16px;
}


@media (min-width: 993px) {
  .custom-container {
      padding: 0 92px !important;
  }
}

@media (max-width: 992px) {
  .custom-container {
      padding: 0 64px !important;
  }
}

@media (max-width: 768px) {
  .custom-container {
      padding: 0 48px !important;
  }
}

@media (max-width: 552px) {
  .custom-container {
      padding: 0 24px !important;
  }
}
